<h1>

    <span>{{ vm.entity.title }}</span>

    <button type="button" class="btn btn-sm btn-info pull-right" ng-click="vm.refresh()">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>

</h1>

<hr/>

<table class="table table-bordered aic-metadata-table">

    <colgroup>
        <col width="110">
        <col>
    </colgroup>

    <thead>
        <tr>
            <th colspan="2">Metadata</th>
        </tr>
    </thead>

    <tbody>

        <tr class="info">
            <td><strong>DA Search</strong></td>
            <td><a href="{{ vm.getDaSearchLink( vm.entity ) }}">{{ vm.getDaSearchLink( vm.entity ) }}</a></td>
        </tr>

        <tr class="info">
            <td><strong>DA API</strong></td>
            <td><a href="{{ vm.getDaApiLink( vm.entity ) }}">{{ vm.getDaApiLink( vm.entity ) }}</a></td>
        </tr>

        <tr class="info">
            <td><strong>CDS API</strong></td>
            <td><a href="{{ vm.getCdsLink( vm.entity ) }}">{{ vm.getCdsLink( vm.entity ) }}</a></td>
        </tr>

        <tr class="info">
            <td><strong>LPM SOLR</strong></td>
            <td><a href="{{ vm.getLpmSolrLink( vm.entity ) }}">{{ vm.getLpmSolrLink( vm.entity ) }}</a></td>
        </tr>

        <tr class="info">
            <td><strong>LPM Fedora</strong></td>
            <td><a href="{{ vm.getLpmFedoraLink( vm.entity ) }}">{{ vm.getLpmFedoraLink( vm.entity ) }}</a></td>
        </tr>

        <tr class="info">
            <td><strong>LAKE Fedora</strong></td>
            <td><a href="{{ vm.getLakeFedoraLink( vm.entity ) }}">{{ vm.getLakeFedoraLink( vm.entity ) }}</a></td>
        </tr>

    </tbody>

</table>

<div ng-if="vm.entity.thumbnail.url">
    <a href="{{ vm.entity.thumbnail.url }}/full/!800,800/0/default.jpg" target="_blank">
        <img src="{{ vm.entity.thumbnail.url }}/full/!256,256/0/default.jpg"/>
    </a>
</div>

<hr/>

<table class="table table-bordered table-striped">
    <colgroup>
        <col width="200">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>

        <tr tfield ng-repeat="(key,value) in vm.entity" key="{{ key }}" value="value"></tr>

    </tbody>
</table>

