.aic-state-entity {
    .aic-layout-main {
        overflow-y: hidden;
    }
}

.aic-view-entity {

    form {
        margin-bottom: 30px;
    }

    .input-group {

        select.form-control {
            width: 20%;
        }

        input.form-control {
            width: 80%;
        }

    }

}
