<h1>

    <span>{{ vm.entity.title }}</span>

    <button type="button" class="btn btn-sm btn-info pull-right" ng-click="vm.refresh()">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>

</h1>

<hr/>

<table class="table table-bordered aic-metadata-table">

    <colgroup>
        <col width="100">
        <col>
    </colgroup>

    <thead>
        <tr>
            <th colspan="2">Metadata</th>
        </tr>
    </thead>

    <tbody>

        <tr class="info">
            <td><strong>DA API</strong></td>
            <td><a href="{{ vm.route }}">{{ vm.route }}</a></td>
        </tr>

        <tr class="info">
            <td><strong>CDS API</strong></td>
            <td><a href="{{ vm.getCdsLink( vm.entity ) }}">{{ vm.getCdsLink( vm.entity ) }}</a></td>
        </tr>

        <tr class="info">
            <td><strong>LPM SOLR</strong></td>
            <td><a href="{{ vm.getLpmSolrLink( vm.entity ) }}">{{ vm.getLpmSolrLink( vm.entity ) }}</a></td>
        </tr>

        <tr class="info">
            <td><strong>LPM Fedora</strong></td>
            <td><a href="{{ vm.getFedoraLink( vm.entity ) }}">{{ vm.getFedoraLink( vm.entity ) }}</a></td>
        </tr>

    </tbody>

</table>

<hr/>

<table class="table table-bordered table-striped">
    <colgroup>
        <col width="200">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>

        <tr tfield ng-repeat="(key,value) in vm.entity" key="{{ key }}" value="value"></tr>

    </tbody>
</table>

