.aic-browse {

    .aic-layout-list,
    .aic-layout-detail {
        position: fixed;

        overflow-x: hidden;
        overflow-y: scroll;

        height: 100%;

        top: 0;

    }

    .aic-layout-list {
        left: $layout-list-offset;
        width: $layout-list-width;
    }

    .aic-layout-detail {
        left: $layout-detail-offset;
        width: $layout-detail-width;

        padding: 10px;
    }

}
