<div class="aic-search">

    <!-- Search results table -->
    <table st-pipe="vm.pipe" st-table="vm.results" class="table table-striped">

        <colgroup>
            <col width="80"> <!-- Fits 8 digits comfortably -->
            <col width="100">
            <col>
            <col width="45">
        </colgroup>

        <!-- Search box -->
        <thead>
            <tr>
                <th st-sort="api_id" st-sort-default="true">ID</th>
                <th st-sort="api_model" st-sort-default="true">Model</th>
                <th st-sort="title" colspan="2">Title</th>
            </tr>
        </thead>

        <!-- Notify when no results -->
        <thead>
            <tr>
                <th colspan="4">
                    <input st-search placeholder="Search" class="input-sm form-control" type="search"/>
                </th>
            </tr>
        </thead>

        <tbody ng-show="vm.results.length < 1">
            <tr ng-repeat="row in vm.results">
                <td colspan="4">No results found</td>
            </tr>
        </tbody>

        <tbody ng-show="vm.results.length > 0">
            <tr ng-repeat="row in vm.results">
                <td>
                    <a href="{{ row.api_link }}">
                        {{ row.api_id }}
                    </a>
                </td>
                <td>{{ row.api_model }}</td>
                <td>{{ row.title }}</td>
                <td>
                    <a href="javascript:;" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
                </td>
            </tr>
        </tfoot>

    </table>

</div>

