<div class="aic-images">

    <p>
        <span>Search by color: </span>
        <input type="color" ng-model="vm.color" ng-change="vm.search()" ng-model-options="{ debounce: 200 }" color/>
        <span>{{ vm.color.hex() }}</span>
    </p>

    <div class="image-container">

        <div class="image-item" ng-repeat="artwork in vm.artworks">

            <div class="image-proportion" style="padding-bottom: {{ artwork.thumbnail.height / artwork.thumbnail.width * 100 }}%">

                <div class="image-lqip" style="background-image: url('{{ artwork.thumbnail.lqip }}')"></div>

                <div class="image-lqip image-lqip-blur" style="background-image: url('{{ artwork.thumbnail.lqip }}')"></div>

                <div class="image-tn" ng-class="artwork.is_loaded ? 'image-loaded' : ''">
                    <img src="{{ vm.getThumbnail( artwork ) }}" img-onload="vm.onImageLoad( artwork )"/>
                </div>

            </div>

        </div>

    </div>

</div>

