.aic-images {

    padding: 30px;

    .image-search-bar {
        margin-bottom: 30px;
    }

    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .image-caption {
        padding: 10px 0;
    }

    .image-item {

        flex-basis: 192px;

        text-align: left;
        padding: 10px;

    }

    .image-proportion {

        position: relative;

        // padding-bottom defined in html
        width: 100%;
        height: 0;

        overflow: hidden;

    }

    .image-indicator {

        position: absolute;
        right: 0;
        top: 0;

        z-index: 2;

        background-color: rgba( 0, 0, 0, 0.75 );

        &::after {

            content: '';
            display: block;

            width: 20px;
            height: 20px;

            // Set `background-image` in 'child' classes
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 80% 80%;

        }

    }

    .image-indicator-boosted {

        top: 20px;

        &::after {

            background-image: url('shared/icon-chevron.svg');
            filter: invert(0.5) sepia(1) saturate(10) hue-rotate(5deg);

        }

    }

    .image-none,
    .image-lqip,
    .image-tn {

        position: absolute;
        top: 0;
        left: 0;

    }

    .image-none {
        background-image: url('shared/image-not-available.svg');
    }

    .image-none,
    .image-lqip {

        width: 100%;
        height: 100%;

        background-size: 100% 100%;
        background-repeat: no-repeat;

        z-index: 1;

    }

    .image-lqip-blur {

        filter: blur(10px);

    }

    .image-tn {

        // Cover-up some floating-point errors
        background-color: white;
        width: 100%;
        height: 100%;

        opacity: 0;
        transition: opacity .2s;

        z-index: 2;

        &.image-loaded {

            opacity: 100;

        }

        img {

            width: 100%;

        }

    }

}
